<h1>Your Job Applications</h1>

<% if @job_applications.length == 0 %>
      <p> You have not applied for any jobs yet. </p>
      <%= link_to 'Apply Now', job_postings_path %>
  <%  end %>

<div id="job_applications">
  <%= render @job_applications %>
</div>

