<h1>About</h1>
<p>
	SkillChest was created for the future of learning and working.  Save all of your learning, including non-traditional learning such as conferences and certifications, and keep a verified record all in one place.  This can then be shared with employers.
</p>