<h1>Hey David Clayton! Welcome to your page!</h1>
<p> Congratulations on finding your page man.  How are things? How was the hangout last night?

	I'm still curious what was the thing that tipped your decision to choose Stanford.
</p>
<!--
	  (if you want :)
	<br>
</p>
<form>
	<input type="text" name="David_answer" style="width: 600px; height: 400px;"/>
</form>
<input type="submit">
-->