<div class="hero-unit">
	<div class="row">
<!--	<div class="span4">
			<h2>Navigation Bar</h2>
		</div>
-->
		<div class="span8">
			<h1>Welcome to SkillChest!</h1>
			<p>
				Store all of your learning and work experiences in one place.
			</p>
			<p>
				<%= link_to "Create your SkillChest!", "#", class: "btn btn-primary btn-large" %>
			</p>	
		</div>
	</div>
</div>
