<h1> Job Postings </h1>
<div id="job_postings">
  <%= render @job_postings %>
</div>

<br />
<% if current_user.hirer %>
  <%= link_to 'Post New Job', new_job_posting_path %>
<% end %>

<!--
<h1>Job Listings</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    
  </tbody>
</table>
-->
