<h1>Job Listings</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render @job_postings %>
  </tbody>
</table>

<br />

<%= link_to 'Post New Job', new_job_posting_path %>
